.score-card {
  border-radius: 10px;
  border: 5px solid lightgray;
  padding: 20px;
  text-align: center;
  width: 300px;
  margin: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adding box-shadow */
  background-color: #f0f0f0; /* Changing background color */
  transition: box-shadow 0.3s ease; /* Adding transition effect */
}

.score-card-title {
  margin-top: 0;
  color: black;
}

.description {
  margin-bottom: 20px;
  color: black;
}

.go-to-answers-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.go-to-answers-button:hover {
  background-color: #0056b3;
}
