.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: grey; /* Change this to your desired background color */
  padding: 10px 20px; /* Adjust padding as needed */
}

.left-section {
  flex: 1;
}

.right-section {
  display: flex;
  align-items: center;
}

.profile-container {
  margin-left: 10px; /* Add some space between text and profile picture */
}

.round {
  border-radius: 50%; /* This will make the image round */
}
.profile-pic {
  width: 40px; /* Adjust width as needed */
  height: 40px; /* Adjust height as needed */
}
